			<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Cliente no encontrado</h1>
                        <h2 class="font-xl"><strong>! Posibles causas !</strong></h2>
                        
                        <p class="lead semi-bold">
                            <strong ><i class="lead semi-bold fa fa-exclamation"></i> &nbsp; La identificaci&oacute;n del cliente que fue ingresada es incorrecta</strong><br>
                            <strong ><i class="lead semi-bold fa fa-exclamation"></i>&nbsp; El cliente que busca no existe</strong><br><br />
                            <small>
                                Puede escoger una de las siguientes opciones:
                            </small>
                        </p>
                        <ul class="error-search text-left font-md">
                            <li><a href="../Cliente/NuevoCliente"><small>Nuevo cliente &nbsp;&nbsp;&nbsp; <i class="fa fa-mail-forward"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i></small></a></li>
                            <li><a href="../Proceso/BuscarCliente"><small>Realizar otra busqueda &nbsp;&nbsp;&nbsp; <i class="fa fa-mail-forward"></i>&nbsp;&nbsp;&nbsp;<i class="fa-fw fa fa-search"></i></small></a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end row -->

</div>
<!-- END MAIN CONTENT -->