#table {
    background-color:#ffffff;
    color: black;
}
#butoon {
    background-color: #ff5722;
}

.butoon {
    background-color: #ff5722;
    color: white ;
}

.personalizado-table {
    background-color: #ffffff;
    color: black;
}